@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@import './colors.less';
@import './reset.less';
@import './variables.less';

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: 'Caveat', cursive;
}

h1,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  margin-top: 100px;
}
