@import './colors.less';
@import './reset.less';
@import './variables.less';

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: 'Caveat', cursive;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p,
li {
  font-size: 1.5em;
}

.page {
  margin-top: 100px;
}
