@import '../../assets/base/colors.less';

.carousel {
    max-width: 20%;
    padding: 20px 60px;
    background-color: fade(@ui-color[@orange][@9], 50%);
    border-radius: 4px;

    &__slide {
        border-radius: 4px;
    }
}
